.padre-cielo {
	display: flex;
	padding-top: 60px;
	justify-content: space-evenly;
}
.content-cielo {
	display: flex;
	img {
		width: 350px;
		height: 506px;
		border: 7px solid #fff;
		object-fit: cover;
	}
}
.content-cielo__text {
	width: 300px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-left: 60px;
	gap: 70px;
}
.content-cielo__rp {
	display: flex;
}
.whatsapp {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: $background-color_2;
	color: $color_2;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	z-index: 200;
}
.whatsapp-icon {
	margin-top: 13px;
	color: $color_1;
}