.login-content {
	width: auto;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login-move__bgc {
	margin: 10px;
	background-color: $background-color_4;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	transition: 0.5s;
	input {
		&:hover {
			background-color: $background-color_5;
		}
	}
	h2 {
		font-family: $font-family_1;
		font-weight: 100;
	}
}
.whatsapp {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: $background-color_2;
	color: $color_2;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	z-index: 200;
}
.whatsapp-icon {
	margin-top: 13px;
	color: $color_1;
}