$color_1: #fff;
$color_3: rgb(60,60,60);
$font-family_1: 'Tenor Sans', sans-serif;
$background-color_1: #000;
body {
    line-height: 1;
    
}
ul {
    padding: 0;
}


.encabezado {
	background-color: $background-color_1;
	width: 100%;
	height: 120px;
	border-bottom: 5px solid #fff;
}
.titulo {
	font-size: 20px;
	display: flex;
	justify-content: center;
}
.titulo__h1 {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 2em;
	font-family: $font-family_1;
	font-weight: 30;
	box-sizing: border-box;
    color: $color_1;
}
.nav__ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.nav__li {
	display: flex;
	color: $color_1;
	a {
		text-decoration: none;
	}
	i {
		width: 30px;
	}
	&:hover {
		>a {
			color: $color_3;
		}
		color: $color_3;
	}
}
a {
	&:visited {
		color: $color_1;
	}
}
