$color_1: #fff;
$color_2: #FFF;
$color_3: rgb(60,60,60);
$color_4: rgb(190, 183, 183);
$color_5: #000;
$font-family_1: 'Fahkwang', sans-serif;
$background-color_1: #000;
$background-color_2: #25d366;
$background-color_3: #0fc90f;
$background-color_4: #242020;
$background-color_5: #141414;
